<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Blagdeni</title>
</head>
<body>


<div class="container text-center mt-4 mb-4">
<h1>Blagdeni</h1> 
</div>

<div class="contanir">
        <input id="Rrrr" class="form-control" placeholder="Найти">
    </div>






</body>
</html>