<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{% static 'home\favicon.png' %}">
    <title>Blagdeni</title>
</head>


<body>

<div class="contanir text-center mt-3">
<a href="{% url 'home' %}">Home</a> | <a href="{% url 'about' %}">About</a>
</div>

{% block content %}
{% endblock content %}

</body>
</html>
